.buttonBtn{ 
    display: flex; 
    width: 130px; 
    height: 40px; 
    font-family: 'Fira Sans', sans-serif;
    color: #000000; 
    opacity: 62%; 
    justify-content: center;
    align-items: center;
    font-weight: bolder;  
    border-radius: 0.5em; 
    cursor: pointer; 

    /* disable selecting */ 
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}